.app {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: var(--other);
  border: 1px solid var(--other);
  padding: 0.5em 1em 0.5em 1em;
}
